/* codigo general */
@font-face {
  font-family: 'Mayeka';
  src: url('../fonts/Mayeka\ Regular\ Demo.otf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Mayeka, sans-serif;
}

body {
  overflow-x: hidden;
}

.wrapper {
  background-color: lightgrey;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.btn-unstyled {
  outline: none;
  border: none;
  background: transparent;
  padding: 10px 16px;
  text-decoration: none;
  color: #000;
  display: inline-block;
}

.btn-unstyled:hover, .btn-unstyled:active {
  color: #000;
  font-weight: bold;
} 

.nav a {
  /* text-shadow: 1px 1px 2px #aaa, -1px -1px 2px #aaa; */
}

.nav a.active {
  position: relative;
}

.nav a.active::before{
  content: '';
  display: block;
  position: absolute;
  height: 2px;
  left: 8px;
  right: 8px;
  bottom: 8px;
}

.nav a.active.line-white::before {
  background: white;
}

.nav a.active.line-black::before {
  background: black;
}

.full-width {
  width: 100vw;
}

.full-height {
  height: 100vh;
}
.hidden {
  visibility: hidden;
}

.pos-relative {
  position: relative;
}

.pos-absolute {
  position: absolute;
}

.text-rata {
  color: #2D2A26;
}
/* seccion para el index.html */
.img-inicio {
  height: 85vh;
  width: auto;
}

.input-simple {
  border: none;
  background-color: #e5e9ea;
}

.font-sans-serif {
  font-family: sans-serif;
}

.letter-spacing-1 {
  letter-spacing: 1px;
}

/* seccion para invitacion.html */
.invitacion .nav {
  position: absolute;
  left: 0;
  right: 10%;
  top: 3vw;
}

/* seccion regalos */
.regalos .nav {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  background-color: rgba(255,255,255,.4);
}

/* seccion de rsvp */
.mspv {
  position: absolute;
  top: 22%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-container {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  width: 35vw;
  font-size: 1.5vw;
}


@media screen and (max-width: 576px) {
  /* seccion index */
  .img-inicio {
    width: 45vw;
    height: auto;
  }

  /* seccion invitacion */
  .invitacion .nav{
    left: 0;
    right: 0;
    top: 8vw;
  }

  .form-container {
    top: 52%;
    width: 60vw;
    font-size: 13px;
  }

}
